{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <h2>Something went wrong</h2>
    <p>{{error}}
    </p>
    <a class="btn btn-dark" href="/">Go back to the home page</a>
  </div>
{% endblock %}}}