{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <h2>Are you sure you would like to log out?</h2>
    <div class="btn-group">
      <a class="btn btn-warning">No, back to the RickandMorts App</a>
      <form action="/auth/logout?_method=DELETE" method="POST">
        <input class="btn btn-danger" type="submit" value="Yes, log me out">
      </form>
    </div>
  </div>
{% endblock %}}}}}}}