{% layout 'layout.liquid' %}
{% block content %}
  <h1 class="display-4">
    <strong>RickandMorts Wiki</strong>
  </h1>
  <h2>
    View and add your favorite RickandMorts character to the server!</h2>
  <div class="btn-group btn-group-lg">
    <a href="/auth/signup" class="btn btn-dark">Sign Up</a>
    <a href="/auth/login" class="btn btn-dark">Login</a>
    {%- comment -%}
      <img src="https://pbs.twimg.com/media/CYrA2z3WQAAOZDe.png">
    {%- endcomment -%}
  </div>
{% endblock %}
