{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-light bg-opacity-10">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="https://juicebubble.co.za/wp-content/uploads/2021/02/morty-and-rick-silhouette-grey-square.png" alt="Bootstrap" width="60" height="44">
    </a></a>
        {% if loggedIn %}
        <a href="characters/mine" class="nav-link text-light">Hello {{ username }} !</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <a href="/characters" class="nav-link text-light">View All Characters</a>
                <a href="/characters/new" class="nav-link text-light">Add New RickandMorts</a>
                <a href="/characters/mine" class="nav-link text-light">My RickandMorts</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>

{%- comment -%} Search Bar {%- endcomment -%}
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
{%- comment -%} Search bar {%- endcomment -%}

            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{%- comment -%} https://repository-images.githubusercontent.com/120371205/b6740400-92d4-11ea-8a13-d5f6e0558e9b {%- endcomment -%}