body {
    background-color: black;
    background-image: url("https://images.alphacoders.com/876/876589.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

img {
    justify-content: center;
}

.card {
    margin: 5px;
    /* background-color: blanchedalmond; */
    color: black;
}
.row {
    text-align: center;
    justify-content: center;
}
img1{
    align-items: center;
    margin: 0 auto;
}
.col-md-6 {
    margin: 0 auto;
}
.display-4 {
    margin: 100px;
    
}
.btn-group {
    margin: 20px;
}
.container-md {
    margin:auto;
}
.col-md-8 {
    color: white;
    background-color: black;
}
.header {
    background-color: black;
}
.col-md-4{
    background-color: black;
}
.card-textm{
    margin-bottom: auto;
}
.display-6{
    margin-bottom: 20px;
}